.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 100px;

  &Hello {
    display: flex;
    justify-content: center;
    border: 2px solid #7B68EE;
    border-radius: 1vw;
    width: 30vw;
    padding: 10px;
    margin: 50px 0 0 0;
    background-color: #fff;

    &__Text {
      font-size: 20px;
      font-weight: 600;
      margin: 20px 0 0 0;
      color: #000;

      &Little {
        font-weight: 400;
        margin: 10px 0 0 0;
        font-size: 15px;

        &_Image {
          display: flex;
          justify-content: center;
          align-items: center;
          .image {
            border-radius: 15px;
          }
        }

        div {
          margin: 10px 0 0 0;
        }
      }
    }
  }

  &Content {
    margin: 50px 0 0 30px;

    &__Form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      border: 2px solid #7B68EE;
      border-radius: 1vw;
      width: 34vw;
      height: 300px;
      background-color: #fff;
    }

    &__Registration {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      border: 2px solid #7B68EE;
      border-radius: 1vw;
      width: 34vw;
      height: 160px;
      margin: 50px 0 0 0;
      background-color: #fff;
      &Text {
        font-size: 20px;
        font-weight: 500;
      }
      &Button {
        width: 60%;
      }
    }

    &__Image {
      display: flex;
    }
  }
}

/*@media (prefers-color-scheme: dark) {*/
/*  .card,*/
/*  .footer {*/
/*    border-color: #222;*/
/*  }*/
/*  .code {*/
/*    background: #111;*/
/*  }*/
/*  .logo img {*/
/*    filter: invert(1);*/
/*  }*/
/*}*/
